@font-face {
    font-family: 'Mortal Kombat';
    src: url(assets/fonts/MKtitle.ttf);
}

html, 
body {
    margin: 0; 
    height: 100%; 
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

#background-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.loading {
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.loading-button {
    margin-top: 40px;
    width: 200px;
    height: 40px;
    box-shadow: 5px 5px rgb(255, 111, 2);
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(253,29,29,1) 42%, rgba(252,176,69,1) 74%);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

#player1-idle,
#player2-idle {
    height: 30vh;
}

.left-player1,
.right-player2 {
    width: 25%;
    display: flex;
    height: 100%;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
}

.main-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
    border-right: 4px solid white;
    border-left: 4px solid white;
}

.win-message,
.main-page-message {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    /* width: 100%; */
    /* height: fit-content; */
    font-family: 'Mortal Kombat';
}

.player1-info,
.player2-info {
    display: flex;
    height: 100%;
    width: 25%;
    align-items: center;
    /* justify-content: flex-start; */
    flex-direction: column;
}

.left-container,
.right-container {
    width: inherit;
    display: flex;
    justify-content: center;
}

p {
    margin-left: 10px;
    color: white;
    font-size: x-large;
}

.game-board {
    display: table;
    border-collapse: collapse;
    width: 500px;
    height: 500px;
    margin-bottom: 180px;
}

.box-0, 
.box-1, 
.box-2, 
.box-3, 
.box-4, 
.box-5, 
.box-6, 
.box-7, 
.box-8 {
    border: 3px solid white;
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* padding: 0; */
}

.box-0, 
.box-3, 
.box-6 {
    border-left: 0;
}

.box-0, 
.box-1, 
.box-2 {
    border-top: 0;
}

.box-2, 
.box-5, 
.box-8 {
    border-right: 0;
}

.box-6, 
.box-7, 
.box-8 {
    border-bottom: 0;
}

tr {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

td {
    cursor: pointer;
}

.player-token {
    height: max-content;
    width: inherit;
}

.player1-turn,
.player2-turn {
    width: 100px;
    margin-left: -15px;
    margin-right: -23px;
}

.disabled {
    pointer-events: none;
    
}

.hidden {
    display:none;
}